/*나눔바른고딕*/
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
}
/*강원교육모두*/
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*나눔스퀘어 네오*/
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #333;}
body{
    font-family: 'NanumBarunGothic';
    font-size: 13px;
    line-height: 1.5em;
    color: #333;
}
/*공통*/
#header, #banner, #section1, #section3, #section4, .footer{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
#section1_wrap, #section2, #section3, #section4{
    padding: 100px 0;
}
.title{
    display: inline-block;
    font-family: '강원교육모두';
    font-size: 20px;
    font-weight: bold;
    background-color: #fbc25a;
    border-radius: 27px;
    width: 189px;
    height: 53px;
    padding: 15px 0;
    box-sizing: border-box;
    margin-bottom: 70px;
}
@media (max-width:1200px){
    #header, #banner, #section1, #section3, .footer{
        width: 100%;
    }
}
@media (max-width:700px){
    #section2, #section3, #section4{
        padding: 5vh 0;
    }
}
/*header*/
#header_wrap{
    height: 140px;
}
#header{
    padding: 25px 0;
    position: relative;
}
.m_logo{display: none;}
.util{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
}
.util li{
    float: left;
    margin-left: 12px;
}
.util li a{
    display: block;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #333;
    width: 88px;
    height: 30px;
    padding: 5px 0;
    box-sizing: border-box;
    border-radius: 15px;
}
#gnb_wrap{
    border-bottom: 3px solid #fbc25a;
}
.gnb{
    width: 997px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.gnb> li{
    width: 19%;
}
.gnb> li> a{
    display: block;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 18px;
    font-weight: bold;
    background-color: #fbc25a;
    width: 100%;
    padding: 12px 0;
    border-radius: 23px 23px 0 0;
}
.gnb> li> a:hover{
    color: #fff;
    background-color: #699fd5;
}
.submenu_wrap{
    position: absolute;
    top: 186px;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    padding-bottom: 30px;
    border-bottom: 3px solid #699fd5;
}
.submenu{
    width: 997px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.submenu ul{
    width: 19%;
    text-align: center;
}
.submenu li a{
    display: block;
    padding: 15px 0;
    font-size: 15px;
}
.submenu li a:hover{
    color: #699fd5;
}
.m_menu{display: none;}
@media (max-width:1200px){
    .gnb{
        width: 90%;
    }
    .submenu{
        width: 90%;
    }        
}
@media (max-width:700px){
    #header_wrap{
        position: relative;
        height: 60px;
    }
    #header, #banner, #section1, #section3, #section4, .footer{
        width: calc(100% - 10%);
    }
    #header{
        padding: 17px 0;
    }   
    .logo{
        display: none;
    }
    .m_logo{
        display: block;
    }
    #gnb_wrap, .util{
        display: none;
    }
    .m_menu{display: block;}
    .menu_btn{
        position: absolute;
        top: 10px;
        left: 0;
        text-align: left;
        padding: 10px;
    }
    .menu_bg{
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.7);
        position: absolute;
        top:0;
        display: none;
        z-index: 2;
    }
    .sidebar_menu{
        display: none;
        width: 100%;
        height: 100vh;
        background: #fbc25a;
        position: absolute;
        top:0;
        left: -100%;
        z-index: 20;
    }
    .close_btn{
        width: 25px;
        height: 25px;
        margin:20px;
    }
    .close_btn > a{
        display: block;
        width: 100%;
        height: 100%;
    }
    .menu_wrap{
        list-style: none;
        padding: 20px 20px;
    }
    .menu_wrap li a{
        display: block;
        color: #333;
        text-decoration: none;
        display: block;
        font-family: 'GangwonEdu_OTFBoldA';
        font-size: 25px;
        font-weight: bold;
        padding: 20px 0;    
    }
    .m_submenu li a{
        display: block;
        font-size: 20px;
        padding: 10px 20px;    
    }
    .m_util{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin-top: 30px;
    }
    .m_util li a{
        display: block;
        font-family: 'GangwonEdu_OTFBoldA';
        font-size: 20px;
        font-weight: bold;
        border: 1px solid #333;
        width: 120px;
        height: 40px;
        padding: 8px 0;
        box-sizing: border-box;
        border-radius: 20px;    
    }
}
/*banner*/
#banner{
    width: 100%;
    height: 700px;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/*section1*/
#section1_wrap{
    height: 600px;
    background: url(../images/main_images/bg.jpg) no-repeat center;
}
#section1{
    display: flex;
    justify-content: space-between;
}
.desserts1{
    width: 10%;
    padding-top: 12vh;
}
.desserts2{
    width: 34%;
}
.main_text{
    width: 40%;
    padding-top: 10%;
    text-align: left;
    position: relative;
    background: url(../images/main_images/desserts03.png) no-repeat bottom 1% right;
}
.main_text h1{
    font-family: 'NanumSquareNeo-Variable';
    font-size: 40px;
    line-height: 1.2em;
}
.main_text h3{
    font-family: 'NanumSquareNeo-Variable';
    font-size: 18px;
    padding: 13px 0;
    position: absolute;
    top: 30%;
    right: 23%;
}
.main_text p{
    font-family: 'NanumSquareNeo-Variable';
    font-size: 16px;
    line-height: 2em;
    width: 70%;
    padding: 160px 0 57px;
}
.main_text a{
    display: block;
    width: 189px;
    height: 53px;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
    box-sizing: border-box;
    border-radius: 27px 0 0 27px;
    position: absolute;
    bottom: -15%;
    right: 23%;
}
@media (max-width:700px){
    #section1_wrap{
        height: 50vh;
        padding: 10vh 0;
    }   
    #section1{
        position: relative;
    }
    .desserts1{
        display: none;
    }
    .desserts2{
        width: 100%;
    }
    .desserts2 img{
        width: 100%;
    }       
    .main_text{
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
        padding: 20px;
        box-sizing: border-box;
        position: absolute;
        bottom: 10px;
        left: 0;
    }
    .main_text h1{
        font-size: 30px;
        padding: 30px 0;
    }
    .main_text h3{
        padding: 0;
    }
    .main_text p{
        width: 100%;
        padding: 100px 0 50px;
    }
    .main_text a{
        bottom: -10vh;
        right: 20vw;
    }            
}
/*section2*/
#section2{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.best_menu div{
    padding: 0 13px;
    text-align: center;
}
.best_menu p{padding-top: 15px;}
/*section3*/
.reservation li{
    display: inline-block;
    width: 331px;
    position: relative;
}
.reservation li:nth-child(1){
    margin-right: 30px;
}
.reservation li img{
    width: 100%;
    display: block;
}
@media (max-width:700px){
    .reservation{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .reservation li{
        width: 100%;
    }
    .reservation li:nth-child(1){
        margin-right: 0;
        margin-bottom: 20px;
    }
}
/*section4*/
#section4{padding-bottom: 200px;}
.event{
    display: flex;
    justify-content: space-between;
}
.event div{margin: 0 0.25%;}
@media (max-width:1200px){
    #section4 {
        width: 80%;
    }
}
@media (max-width:700px) {
    #section4 {
        width: 80%;
        padding-bottom: 14vh;
    }
}
/*footer*/
#footer_wrap{
    border-top: 3px solid #699fd5;
}
.footer{
    display: flex;
    padding: 30px 0;
}
.footer_logo{
    width: 20%;
    padding-top: 20px;
}
.footer_text{
    width: 40%;
    box-sizing: border-box;
    text-align: left;
    margin-right: 20%;
}
.footer_link{
    display: flex;
    justify-content: space-between;
}
.footer_text p{
    padding-top: 15px;
}
.sns{
    width: 20%;
}
.sns li{
    float: left;
    margin-left: 10px;
}
@media (max-width:700px){
    .footer{
        display: flex;
        flex-wrap: wrap;
    }
    .footer_logo{
        width: 100%;
    }
    .footer_text{
        width: 100%;
        text-align: center;
        padding: 30px 0;
        margin-right: 0;
    }
    .footer_link{
        width: 100%;
        flex-direction: column;
    }
    .footer_link li{
        padding: 10px 0;
    }    
    .sns{
        width: 57%;
        margin: 0 auto;
    }        
}